
.card {
  width: 450px;
  border-radius: 15px;
  text-align: center;
  padding: 15px 10px;
  margin-bottom: 30px;

  .header {
    img {
      margin-right: 20px;
    }
  }

  .card-body {
    p {
      margin-bottom: 25px;
    }
  }

  @media screen and (max-width: 768px) {
    width: 90%;
    margin: 0 auto 30px;
  }
  
}

.btn_1 {
  color: #fff !important;
}