@import '../../../styles.scss';

.navbar {
  background-color: transparent !important;
  height: 80px;
  width: 100%;
  margin: 0 auto;
  padding-top: 20px;
  transition: all .4s ease-in-out;

  img {
    height: 60px;
    width: auto;

    @media screen and (max-width: 765px) {
      height: 40px;
    }
  }

}





.navbar-nav {

  .nav-item {
    .nav-link {
      padding: 0 18px !important;
      color: white;
      font-weight: 700;

      &:hover {
        color: $bg_pink !important;
      }
    }
  }

}


.navbar-collapse {
  @media screen and (max-width: 500px) {
    z-index: 999;
    background-color: #ffffff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    .navbar-nav {
      .nav-item {
        .nav-link {
          color: rgba(0, 0, 0, 0.783) !important;
          padding: 5px 15px !important;

          &:hover {
            color: $bg_pink !important;
          }
        }
      }
    }
  }
}

.white-nav {
  background: #ffffff !important;
  padding: 0 75px;
  width: 100vw;
  box-shadow: 0 8px 7px -8px #999;
  z-index: 2;
  transition: all .4s ease-in-out;
  height: 60px;
  img {
    height: 50px;
    width: auto;
  }
  @media screen and (max-width: 765px) {
    padding: 0 20px;
  }

  .nav-item {
    .nav-link {
      color: rgba(0, 0, 0, 0.906) !important;
    }
  }

  .navbar-toggler {
    border: none;
  }


}


.menu-ico {
  width: 20px;
  height: 3px;
  background-color: #555;
  margin: 4px 0;
}