@import "../../../assets/sass/variables";

.hero-section {
  // margin: -80px auto 0;  //compensates for navbar
  height: 100vh;
  @media screen and (max-width: 768px) {
    height: auto;
  }

  .bottom-pattern {
    margin-top: -85px;
    height: 90px;
    width: 100%;
    background-image: url('../../../assets/images/Pattern\ Group.svg');
    background-repeat: repeat-x;
    background-position: bottom;
  }

  .content {
    top: 0;
    height: 85vh;
    width: 100%;
    background: url("../../../assets/images/HeroBackground.png") no-repeat top center fixed;
    background-size: cover;
    text-align: center;
    h2 {
      color: $bg_white;
    }
    p {
      color: white;
    }
  }
}

.get-starteds {
  width: 85%;
  margin: -150px auto 0;

  @media screen and (max-width: 768px) {
    width: 100%;
  }
}