<footer>
  <div class="triangles-pattern"></div>

  <div class="footer-wrappper section-bg" data-background="assets/img/gallery/footer-bg.png">
     <!-- Footer Start-->
     <div class="footer-area footer-padding">
         <div class="container">
             <div class="row justify-content-between">
                 <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                     <div class="single-footer-caption mb-50">
                         <div class="single-footer-caption mb-30">
                             <!-- logo -->
                             <div class="mb-25">
                                 <a href="index.html"><img src="assets/img/logo/logo2_footer.png" alt=""></a>
                             </div>
                             <div class="footer-tittle">
                              <img src="assets/images/lipachatLogo.png" alt="">

                                 <div class="footer-pera">
                                     <p>Whatsapp Business Solutions.</p>
                                 </div>
                             </div>

                         </div>
                     </div>
                 </div>
                 <div class="col-xl-2 col-lg-4 col-md-4 col-sm-5">
                     <div class="single-footer-caption mb-50">
                         <div class="footer-tittle">
                             <h4>Site Map</h4>
                             <ul>
                                 <li><a (click)="scroll('home')">Home</a></li>
                                 <li><a (click)="scroll('about')">What We Do</a></li>
                                 <li><a (click)="scroll('benefits')">Benefits</a></li>
                                 <li><a (click)="scroll('clients')">Our Clients</a></li>
                                 <li><a (click)="scroll('demos')">Demo</a></li>
                             </ul>
                         </div>
                     </div>
                 </div>
                 <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6">
                     <div class="single-footer-caption mb-50">
                         <div class="footer-tittle">
                             <h4>Contact Us</h4>
                             <ul>
                                 <li><a href="mailto:info@lipachat.com">info@lipachat.com</a></li>
                                 <li><a href="tel:254110090747">+254 110090747</a></li>
                             </ul>
                         </div>
                         <div class="footer-social">
                          <a class="whatsapp" href="https://api.whatsapp.com/send?phone=254110090747&text=Hi"><i class="fa fa-whatsapp"></i></a>
                          <a class="facebook" href="https://www.facebook.com/Lipachat"><i class="fa fa-facebook-f"></i></a>
                          <a class="insta" href="https://www.instagram.com/lipachat/"><i class="fa fa-instagram"></i></a>
                      </div>
                     </div>
                 </div>

             </div>
         </div>
     </div>

     
     <!-- footer-bottom area -->
     <div class="footer-bottom-area">
         <div class="container">
             <div class="footer-border">
              <hr>

                 <div class="row d-flex align-items-center">
                     <div class="col-xl-12 ">
                         <div class="footer-copy-right text-center">
                             <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                               Copyright &copy;<script>document.write(new Date().getFullYear());</script> LipaChat.
                               <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
       <!-- Footer End-->
   </div>
</footer>