@import "../../../assets/sass/variables";

.about-us-section {

  padding-top: 30px;
  @media screen and (max-width: 768px) {
    padding-top: 50px;
    width: 90%;
    margin: auto;

  }

  .heading {
    text-align: center;
    h3 {
      margin-bottom: 20px;
    }
  }

  .body {
    width: 80%;
    margin: 60px auto;
    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }
}


::ng-deep.mat-tab-label, ::ng-deep.mat-tab-label-active{
  width: calc(100%/3)!important;
  color: #000000e7;
  font-weight: 600;
  font-size: 18px;
  font-family: 'Nunito';
 }

 ::ng-deep.mat-ink-bar {
     background-color: $bg_pink !important;                     
}