<div class="container">
  
  <h2 class="text-center pt-5" >
    “GREAT COMMUNICATION BEGINS WITH CONNECTION”
 </h2>
  <p class="text-center">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas consectetur, laborum, sequi, itaque enim
    perferendis rerum molestias repellendus praesentium error ea? Laboriosam exercitationem nesciunt eveniet fugiat
    earum! Deserunt, doloribus praesentium.
  </p>
  <div class="section_padding text-center">
    <a href="#" class="btn_1">get started</a>
  </div>
  <h3>
      MORE TEXT
  </h3>
</div>
