@import "../../../assets/sass/variables";
@import "../../../assets/sass/variables";

.benefits-section {
  background-color: #F6F8FE;
  text-align: center;
  margin-top: 0;
  overflow-x: hidden;
  padding-bottom: 40px;

  .title {
    margin: 10px auto 40px;
  }

  .cards {
    width: 85%;
    margin: auto;
    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }
}
