<div class="benefits-section">
  <div class="triangles-pattern"></div>

  <h2 class="title">Benefits of Lipachat</h2>

  <!-- <div class="cards  mb-2 row d-flex justify-content-center">
      <div class="col-lg-3 col-md-4 col-sm-12" *ngFor="let benefit of benefits">
        <app-benefit-card [benefit]="benefit"></app-benefit-card>
      </div>
  </div> -->



  <owl-carousel-o [options]="customOptions" class="d-flex justify-content-between cards">
    <ng-container *ngFor="let benefit of benefits">

      <ng-template carouselSlide>
        <app-benefit-card [benefit]="benefit"></app-benefit-card>
      </ng-template>

    </ng-container>
  </owl-carousel-o>

</div>