<div class="client_section section_padding">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class=" text-center">
          <h2>Our Clients</h2>
        </div>
      </div>
    </div>
    <!-- <div class="row single_padding_top">
      <div class="col-md-4 col-lg-4">
        <img src="../../../assets/images/iPay-Logo.png" alt="">
      </div>
      <div class="col-md-4 col-lg-4">
        <img src="../../../assets/images/MicroPay-Logo.png" alt="">
      </div>
      <div class="col-md-4 col-lg-4">
        <img src="../../../assets/images/Quipbank-Logo.png" alt="">
      </div>
    </div> -->

    <div class="row single_padding_top">
      <div class="swiper-container swiper-clients">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            
              <img src="../../../assets/images/iPay-Logo.png" alt="" class="img-fluid">
            
          </div>
          <div class="swiper-slide">
              <img src="../../../assets/images/MicroPay-Logo.png"  alt="" class="img-fluid">
          </div>
          <div class="swiper-slide">
              <img src="../../../assets/images/Quipbank-Logo.png" alt="" class="img-fluid">
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
</div>
</div>
