<!-- <div class="demo_part">
  <div class="pattern_top"></div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-xl-6">
        <div class="p-4 pb-4 text-center">
          <h2>
            Product Demos
          </h2>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-12 col-xl-9">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <span class="video_wrapper">
                <iframe width="380px" height="auto" src="https://www.youtube.com/embed/A7Y3lBBk12U" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <p class="text-center">
                  Buying Airtime On Lipachat
                </p>
              </span>
            </div>
            <div class="swiper-slide">
              <span class="video_wrapper">
                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/AD3tD0UlePE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <p class="text-center">
                  Registering account on Lipachat
                </p>
              </span>
            </div>

          </div>
          
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="pattern_bottom"> </div>
</div> -->


<!-- Investigation -->
<div class="container demo-container">
  <div class="p-4 pb-4 text-center">
    <h2>
      Product Demos
    </h2>
  </div>
  <div class="row pt-4">
    <div class="screen-area">
      <img class="screen-img img-fluid" src="../../../assets/images/screen-slider.png" alt="">
    </div>
    <div class="swiper-container swiper-demo">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="video-wrapper">
          <iframe width="210px" height="100%" src="https://www.youtube.com/embed/AD3tD0UlePE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div></div>
        <div class="swiper-slide"><div class="video-wrapper">
          <iframe width="210px" height="100%" src="https://www.youtube.com/embed/AD3tD0UlePE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
          </iframe>
        </div></div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
  
</div>
