@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;0,800;1,300&display=swap');
// @import '../sass/variables';

body {
  font-family: $font_stack_1;
  padding: 0;
  margin: 0;
  font-size: 16px;
}

.section_padding {
  padding: 140px 0px;

  @media #{$medium_device} {
    padding: 100px 0px;
  }

  @media #{$tab_device} {
    padding: 70px 0px;
  }

  @media #{$small_mobile} {
    padding: 70px 0px;
  }

  @media #{$large_mobile} {
    padding: 70px 0px;
  }
}

.single_padding_top {
  padding-top: 140px !important;

  @media #{$medium_device} {
    padding-top: 70px !important;
  }

  @media #{$tab_device} {
    padding-top: 70px !important;
  }

  @media #{$small_mobile} {
    padding-top: 70px !important;
  }

  @media #{$large_mobile} {
    padding-top: 100px !important;
  }
}

.padding_top {
  padding-top: 140px;

  @media #{$medium_device} {
    padding-top: 100px;
  }

  @media #{$tab_device} {
    padding-top: 70px;
  }

  @media #{$small_mobile} {
    padding-top: 70px;
  }

  @media #{$large_mobile} {
    padding-top: 70px;
  }
}

a {
  text-decoration: none;

  &:hover {
    outline: none;
    text-decoration: none;
  }
}

.blue-bg {
  @extend %custom_bg_1;
  // background-size: 200% auto;
}

h1, h2, h3, h4, h5, h6 {
    color: $heading_color;
    font-family: $font_stack_1;
}

p{
    font-family: $font_stack_1;
    line-height: 2;
    font-size: 16px;
    margin-bottom: 0px;
    color: $black_color;
    font-weight: 300;
}

h2 {
    font-size: 36px;
    line-height: 28px;
    color: $heading_color;
    font-weight: 800 !important;
    line-height: 1.6;
    // @media #{$small_mobile}{
    //     font-size: 22px !important;
    //     line-height: 25px;
    // }
    @media #{$xs_mobile} {
        font-size: 18px !important;
        line-height: 25px;
    }
    @media #{$large_mobile}{
        font-size: 24px;
        line-height: 25px;
        
    }
}

h3 {
    font-size: 28px;
    line-height: 32px;
    font-weight: 700 !important;
    @media #{$xs_mobile}{
        font-size: 24px !important;
        font-weight: 700 !important;
    }
}

h5 {
    font-size: 18px;
    line-height: 22px;
}

img {
    max-width: 100%;
}

a:focus, .button:focus, button:focus, .btn:focus {
    text-decoration: none;
    outline: none;
    box-shadow: none;
}